h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading;
}

h1,
.h1 {
    font-size: rem(40px);
    line-height: rem(40px);
    letter-spacing: rem(2px);
    @include media-breakpoint-up(md) {
        font-size: rem(46px);
        line-height: rem(46px);
    }
    @include media-breakpoint-up(lg) {
        font-size: rem(60px);
        line-height: rem(62px);
    }
    @include media-breakpoint-up(xl) {
        font-size: rem(80px);
        line-height: rem(72px);
    }
}

h2,
.h2 {
    font-size: rem(30px);
    line-height: rem(30px);
    @include media-breakpoint-up(md) {
        font-size: rem(32px);
        line-height: rem(32px);
    }
    @include media-breakpoint-up(lg) {
        font-size: rem(48px);
        line-height: rem(48px);
    }
}

h3,
.h3 {
    font-size: rem(22px);
    line-height: 1.6;
    @include media-breakpoint-up(md) {
        font-size: rem(32px);
        line-height: rem(18px);
    }
    @include media-breakpoint-up(lg) {
        font-size: rem(40px);
        line-height: rem(32px);
    }
}

h4,
.h4 {
    font-size: rem(18px);
    line-height: 1.22;
    letter-spacing: rem(-0.25px);
    @include media-breakpoint-up(lg) {
        font-size: rem(24px);
        line-height: 1.21;
        letter-spacing: rem(-0.5px);
    }
}

h5,
.h5 {
    font-size: rem(16px);
    line-height: 1.19;
    letter-spacing: rem(-0.25px);
    @include media-breakpoint-up(lg) {
        font-size: rem(20px);
        line-height: 1.2;
    }
}

.display-1,
.display-2,
.display-3,
.display-4,
.blockquote {
    @extend %display;
}

.display-1 {
    font-size: rem(56px);
    line-height: 0.8;
    letter-spacing: rem(7px);
    @include media-breakpoint-up(md) {
        font-size: rem(88px);
        letter-spacing: rem(11px);
    }
    @include media-breakpoint-up(lg) {
        font-size: rem(120px);
        letter-spacing: rem(15px);
    }
}

.display-2 {
    font-size: rem(48px);
    line-height: 0.79;
    letter-spacing: rem(6px);
    @include media-breakpoint-up(md) {
        font-size: rem(56px);
        line-height: 0.88;
        letter-spacing: rem(7px);
    }
    @include media-breakpoint-up(lg) {
        font-size: rem(72px);
        line-height: 0.81;
        letter-spacing: rem(9px);
    }
}

.display-3 {
    font-size: rem(40px);
    line-height: 0.8;
    letter-spacing: rem(5px);
    @include media-breakpoint-up(md) {
        font-size: rem(28px);
        line-height: 0.79;
        letter-spacing: rem(3.5px);
    }
    @include media-breakpoint-up(lg) {
        font-size: rem(40px);
        line-height: 0.8;
        letter-spacing: rem(5px);
    }
}

.display-4 {
    font-size: rem(28px);
    line-height: 0.79;
    letter-spacing: rem(3.5px);
}

.blockquote {
    font-size: rem(48px);
    line-height: 0.79;
    letter-spacing: rem(.25px);
    @include media-breakpoint-up(md) {
        font-size: rem(68px);
        letter-spacing: normal;
    }
    @include media-breakpoint-up(lg) {
        font-size: rem(96px);
        line-height: 0.8;
        letter-spacing: rem(-0.5px);
    }
}

p {
    @include last-child() {
        margin-bottom: rem(0);
    }
    &.p2 {
        font-size: rem(12px);
        line-height: 1.5;
        letter-spacing: normal;
        @include media-breakpoint-up(md) {
            font-size: rem(14px);
        }
        @include media-breakpoint-up(lg) {
            font-size: rem(16px);
        }
    }
}

.caption {
    font-size: rem(12px);
    @extend .font-face-sans-serif-italic;
    line-height: 1;
    @include media-breakpoint-up(md) {
        font-size: rem(14px);
    }
}

.text-bold {
    font-weight: bold;
}

a {
    @include links($color-link-black, $color-link-black, $color-link-black-hover, $color-link-black);
    @extend .transition-fast;
    &:hover {
        text-decoration: none;
    }
}
